@media only screen and (min-width: 576px) {
  button {
    font-size: 1.2rem;
  }
  .title {
    font-size: 3rem;
    span.title-frame {
      font-size: 3rem;
    }
  }
  .subtitle {
    font-size: 0.9rem;
  }
  #hamburger {
    .logo {
      p {
        font-size: 1.7rem;
      }
    }
  }

  .hero {
    h1 {
      strong {
        font-size: 6rem;
      }
      font-size: 1.7rem;
    }
  }

  .about-me {
    max-width: 630px;
    p {
      font-size: 1rem;
    }
  }

  .project {
    max-width: 450px;
    .p-img {
      height: 350px;
    }
    .p-body {
      .p-title {
        font-size: 2.7rem;
      }
      .p-tech {
        span {
          font-size: 1rem;
        }
      }
    }
    .p-content {
      p {
        font-size: 1rem;
      }
    }
    .p-cta {
      a {
        font-size: 1.2rem;
      }
    }
  }

  .contact {
    form {
      max-width: 450px;
      input,
      textarea {
        font-size: 1rem;
      }
    }
  }
}
