@media only screen and (min-width: 768px) {
  #hamburger {
    .hamburger-react {
      display: none;
    }
  }
  nav {
    position: fixed;
    top: 0;
    right: 10px;
    opacity: 1;
    pointer-events: all;
    ul {
      height: 70px;
      background: transparent;
      border: 0;
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        width: fit-content;
        padding: 5px 10px;
        // border-radius: 5px;
        &:hover {
          background: transparent;
          cursor: pointer;
          i {
            color: #09a792;
          }
          span {
            color: #09a792;
          }
        }
        span {
          font-size: 0.9rem;
          // font-size: 1rem;
          display: initial;
          margin-left: 5px;
        }
      }
    }
  }

  .about-me {
    max-width: 100%;
    width: 100%;
    .d-wrapper {
      // display: flex;
      flex-direction: row-reverse;
      width: fit-content;
      margin: 50px auto;
      gap: 50px;
      .about-me-content {
        .cta {
          text-align: left;
        }
      }
    }
  }

  .my-work {
    .d-wrapper {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .project {
        .p-img {
          height: 300px;
        }
      }
    }
  }
}
