@media only screen and (min-width: 992px) {
  .hero {
    flex-direction: row;
    gap: 100px;
    text-align: left;
    .d-wrapper {
      min-width: 550px;
    }
    img {
      display: initial;
    }
  }

  .my-work {
    .d-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .contact {
    .d-wrapper {
      flex-direction: row;
      form {
        max-width: 500px;
        input {
          padding: 10px;
        }
      }
      .contact-details {
        display: initial;
      }
    }
  }
}
